//vars
$font-stack: 'Open Sans', sans-serif;
$winner-color: #87B83D;
$button-color: #62CBB8;
$background-color: rgb(159,223,204);

*{
  margin: 0 auto;
  margin: 0 auto;
}
body {
  width: 100%;
  height: 100%;
}
h1 {
  font-family: $font-stack;
  font-size: 64px;
  text-shadow: 1px 1px #000;
}

#header-text h1{
  color: $background-color;
}

.winner {
  color:$winner-color;
}
#wrapper {

  padding: 0 10%;
  font-family: $font-stack;
  color:white;

  .row-centered {
    text-align: center;
    margin: 5%;
    // padding: 4%;
  }
  .col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;

    /* inline-block space fix */
    margin-right: -4px;
    text-align: center;
    background: $background-color;
  }
  .content {
    text-align: center;
    padding: 10%;
  }
  .btn.btn-sharp {
    padding: 18px 24px;
    border: none;
    font-family: $font-stack;
    font-weight: 700px;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 0;
    background: #62CBB8;
    color: #fff;
    margin: 2% 5px;
  }
  input[type=number] {
    padding: 5px;
    font-family: $font-stack;
    color: black;
    width: 100%;
    border: none;
  }
}
