* {
  margin: 0 auto;
  margin: 0 auto;
}

body {
  width: 100%;
  height: 100%;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 64px;
  text-shadow: 1px 1px #000;
}

#header-text h1 {
  color: #9fdfcc;
}

.winner {
  color: #87B83D;
}

#wrapper {
  padding: 0 10%;
  font-family: "Open Sans", sans-serif;
  color: white;
}
#wrapper .row-centered {
  text-align: center;
  margin: 5%;
}
#wrapper .col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
  text-align: center;
  background: #9fdfcc;
}
#wrapper .content {
  text-align: center;
  padding: 10%;
}
#wrapper .btn.btn-sharp {
  padding: 18px 24px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700px;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 0;
  background: #62CBB8;
  color: #fff;
  margin: 2% 5px;
}
#wrapper input[type=number] {
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  color: black;
  width: 100%;
  border: none;
}
